/* style.css */

body {
    font-family: Arial, sans-serif; /* Fallback font family */
    text-align: center; /* Center-align text */
    margin: 0; /* Remove default margin */
    background-color: #FADADD; /* Set background color to light pink */
}

#container {
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center-align items horizontally */
    justify-content: center; /* Center-align items vertically */
    height: 100vh; /* Make the container full viewport height */
}

#image-container {
    /* This container will hold the images */
}

#question {
    font-family: 'Sacramento', cursive; /* Apply Sacramento font to the question */
    font-size: 48px; /* Set font size for the question */
    margin: 12px;
}

#options {
    margin-top: 20px; /* Add space above the options */
}

button {
    padding: 10px 20px;
    margin: 0 20px;
    font-size: 26px;
    font-family: 'Roboto', cursive;
    background-color: #ff96ab; /* Set button background color */
    color: white; /* Set text color to white */
    border: none; /* Remove button border */
    cursor: pointer; /* Set cursor to pointer on hover */
    transition: transform 0.2s ease; /* Smooth transition for button movement */
}

#loading {
    display: none; /* Hide by default */
    font-size: 24px;
    margin-top: 20px;
}

#message {
    font-family: 'Sacramento', cursive;
    font-size: 36px;
    margin-top: 20px;
    color: #ff96ab;
}

/* Responsive Design */
@media (max-width: 768px) {
    #question {
        font-size: 36px; /* Smaller font size for mobile */
    }

    button {
        font-size: 20px; /* Smaller button font size for mobile */
        margin: 0 10px; /* Less margin for smaller screens */
    }

    #message {
        font-size: 28px; /* Smaller message font size for mobile */
    }
}